@import url(http://fonts.googleapis.com/css?family=Tulpen+One|Titillium+Web:400,700);

body{
  text-align:center;
  background-color:#06001a;
  background-image:;
  color:#ddc;
  font-family:"Tulpen One";
  font-size:35px;
}

h2{
  color:#eeb;
  font-family:"Titillium Web";
}

p#i{
  font-style:italic;
  font-size:22px;
  font-family:"Titillium Web"
}

p#small{
  font-size:15px;
  font-family:"Titillium Web"
}

a{
  color:#eeb;
}
