@import url(http://fonts.googleapis.com/css?family=Candal|Carme);

html{
  margin-left:150px;
  margin-right:150px;
  cursor:crosshair;
  font-family:"Carme";
  background: #10102D url(../transparent-moon.png) no-repeat fixed right bottom;
}

body{
  background: linear-gradient(top, #06001a , #10102D )
  padding-top:10px;
  padding-left:40px;
  padding-bottom:20px;
  width:600px;
  border-radius:40px;
  color:#9BAAE8;
}

img{
  opacity:80;
  width:400px;
  padding:20px;
  border:double 30px #10102D;
  border-radius:60px;
  text-align:center;
}

h2{
  font-family:"Candal";
  line-height:10px;
  color:#234A73;
}

p{
  line-height:20px;
}

h1{
  font-family:"Candal";
  font-size:40px;
}

li{
  text-indent:-4px;
  line-height:30px;
  text-align:left
}

a{
  color:#EAE2BB;
}

.small{
  font-size:8px;
}

.myButton {
	background-color:#23708c;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Candal";
	font-size:20px;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#234A73;
	color:#9BAAE8;
}
.myButton:active {
	position:relative;
	top:1px;
}
